// bower:scss
// endbower


// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "normalize";


$font-family-lato:        'Lato', sans-serif;

$color-brand-0:     #FFF;
$color-brand-1:     #BFE2F3;
$color-brand-2:     #F4D4D7;

$color-background:  #1E2030;


body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: $color-background;
    font-family: $font-family-lato;
    color: #FFF;
}

%floating {
    position: absolute;
    top: 20px;
    left: 20px;
}
.header {
    @extend %floating;
    // left: 20px;
    font-weight: 100;
    max-width: 1020px;
    margin: auto;
    text-transform: uppercase;
}

.background {
    @extend %floating;
    display: none;
}
.actions {
    @extend %floating;
    z-index: 4;
    .more-info {
        @extend %floating;
        background: #FFF;
        border-radius: 10px;
        color: $color-background;
        padding: 10px;

        display: none;
        max-width: 400px;
        min-width: 200px;

        .more-info_header {
            margin-top: 0;
            font-weight: 300;
            text-transform: uppercase;
        }
        .more-info_body {
            font-weight: 300;
            margin-bottom: 0;
        }
    }
}
h1 {
    margin: 0;
}

.node {
    fill: $color-background;
    stroke: #FFF;
    stroke-width: 10px;
    &.node-dragged {
        // pointer-events: none;
    }
}

.node-pop {

    circle {
        @extend .node;
        stroke: rgba(#FFF, .7);
    }
    text {
        fill: #FFF;
        text-transform: uppercase;
    }
}

.line {
    stroke: #FFF;
    stroke-width: 10px;
}

.graph-life {
    position: relative;
    z-index: 5;
}
