// bower:scss
// endbower


// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "normalize";


$font-family-lato:        'Lato', sans-serif;

$color-brand-0:     #FFF;
$color-brand-1:     #BFE2F3;
$color-brand-2:     #F4D4D7;

$color-background:  #1E2030;


body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: $color-background;
    font-family: $font-family-lato;
    color: #FFF;
}

%floating {
    position: absolute;
    top: 20px;
    left: 20px;
}
.graph {
    position: absolute;
    z-index: 2;
}
.header {
    @extend %floating;
    z-index: 10;
    h1 {
        font-weight: 100;
        max-width: 1020px;
        margin: auto;
        text-transform: uppercase;
    }
    // left: 20px;
}

.background {
    @extend %floating;
    display: none;
}
.actions {
    @extend %floating;
    .more-info {
        z-index: 11;
        display: none;
        @extend %floating;
        background: #FFF;
        border-radius: 10px;
        color: $color-background;
        padding: 10px;
        min-width: 200px;
        max-width: 400px;

        h3 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
            display: none;
        }
    }
}
h1 {
    margin: 0;
}
/*
 kindNodes = [{
            name: 'Career',
            color: '#FEFBFF'
        },
        {
            name: 'Learning',
            color: '#1A9BF6'
        },{
            name: 'Relationships',
            color: '#F96521'
        },{
            name: 'Health',
            color: '#FEC92F'
        }
    ]
    */

$career: #FFF;
$learning: #BFE2F3;
$relationships: #F4D4D7;
$health: #FEC92F;
.node {
    fill: $color-background;
    stroke: #FFF;
    stroke-width: 10px;
    &.node-career {
        // pointer-events: none;
        stroke: $career;
    }

    &.node-learning {
        stroke: $learning;
    }
    &.node-relationships {
        stroke: $relationships;
    }
    &.node-health {
        stroke: $health;
    }
    &.node-optional {
        opacity: .5;
    }
    &.node-now {
        stroke: red;
        stroke-width: 15px;
    }
}

.node-pop {

    circle {
        @extend .node;
        stroke: rgba(#FFF, .7);
    }
    text {
        fill: #FFF;
        text-transform: uppercase;
    }
}

.line {
    // stroke: #FFF;
    stroke-width: 10px;
}
.line-weak {
    stroke-width: 2px;
}
.line-option {
    stroke-width: 6px;
    opacity: 0.5;
}

.graph-life {
    position: relative;
    z-index: 5;
}
