// bower:scss
// endbower


// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "normalize";


$font-family-lato:        'Lato', sans-serif;

$color-brand-0:     #FFF;
$color-brand-1:     #BFE2F3;
$color-brand-2:     #F4D4D7;


body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1E2030;
    font-family: $font-family-lato;
    color: #FFF;
}
