<div class="header">
    <h1>Life<span>Map</span></h1>
    <div class="focus-on" ng-click="straightenLine()">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</div>
<div class="background">
    <img src="/images/assets-journey/network-minus-career.svg" alt="">
</div>

<div class="actions">
    <div class="more-info">
        <h3 class="more-info_header">More info</h3>
        <p class="more-info_body">Info info info</p>
    </div>
</div>
<div class="graph-life" graph-life></div>